.background-container{
    width: 100vw;
    height: 100vh;

    background-color: #000;
    position: fixed;
    z-index: 9999;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.background-container
.main-menu-container{
    position: fixed;
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.background-container
.main-menu-div{
    background-color: #fff;
    padding: 1rem 0.6rem;
    border-radius: 1.5rem;
    border: 2px solid #7100ff;
}

.background-container
.main-menu-div
.play-tip{
    width: 100%;
    font-size: 1rem;
    color: #210233;
    box-sizing: border-box;
    padding-inline: 1rem;

    margin: 0;
    margin-bottom: 1.5rem;
}

.background-container
.main-menu-div
.speed-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;

    margin-bottom: 1rem;
}

.background-container
.main-menu-div
.speed-select
.speed-btn{
    width: 100%;
    height: 3.5rem;
    border-radius: 1rem;

    border: none;

    font-size: 1.2rem;
    color: #fff;
}

.background-container
.main-menu-div
.speed-select
.slow{
    background-color: #000;
}

.background-container
.main-menu-div
.speed-select
.mid{
    background-color: #000;
}

.background-container
.main-menu-div
.speed-select
.fast{
    background-color: #000;
}

.background-container
.main-menu-div
.slider-div{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.background-container
.main-menu-div
.slider-div
.slider{
    width: 100%;
}

.background-container
.main-menu-div
.slider-div
.speed-text{
    font-size: 1.2rem;
    color: #7100ff;

    font-weight: 600;
}

.background-container
.main-menu-div
.submit-btn{
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    background-color: #7100ff;
    border-radius: 1.2rem;

    border: none;

    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}




.background-container
.hello{
    padding: 1rem 2rem;
    margin-top: 5rem;
    font-size: 3.5rem;
    font-weight: 500;
    border-radius: 1rem;
    z-index: 999;

    background-color: #7100ff;

    color: #fff;
}

.background-container
.hello
span{
    font-size: 1.5rem;
}

.background-container
.absolute{
    top: -5%;
    left: -10%;
    width: 120%;
    height: 120%;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.background-container
.absolute
.block{
    cursor: pointer;
    content: "";
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;

    border: 2px solid #7100ff;
}

/* .background-container
.absolute
.block:hover{
    background-color: #7100ff;
    transform: scale(1.2);
    animation: hello  ease;
} */



.background-container
.absolute
.active{ 
    background-color: #7100ff;
    transform: scale(1.2);
    animation: hello 100ms ease;
}

.background-container
.absolute
.red-block{
    background-color: #da2129;
    transform: scale(1.15);
    animation: byeBye 400ms ease;

    border: 2px solid #da2129;
}

@media byeBye {
    from{
        background-color: transparent;
        transform: scale(1);
    } to {
        background-color: #da2129;
        transform: scale(1.2);
    }
}

@keyframes hello {
    from{
        background-color: transparent;
        transform: scale(1);
    } to {
        background-color: #7100ff;
        transform: scale(1.2);
    }
}

@media (max-width: 900px) {
    .background-container{
        width: 100vw;
        height: 100vh;
    
        background-color: #000;
        position: fixed;
        z-index: 9999;
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .background-container
    .hello{
        padding: 1rem 2rem;
        margin-top: 5rem;
        font-size: 3.5rem;
        font-weight: 500;
        border-radius: 1rem;
        z-index: 999;
    
        background-color: #7100ff;
    
        color: #fff;
    }
    
    .background-container
    .absolute{
        top: -5%;
        left: -10%;
        width: 120%;
        height: 120%;
    
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .background-container
    .absolute
    .block{
        cursor: pointer;
        content: "";
        width: 4.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
    
        border: 2px solid #7100ff;
    }
    
    .background-container
    .absolute
    .active{ 
        background-color: #7100ff;
        transform: scale(1.2);
        animation: hello 100ms ease;
    }
}